.our-success-holder {
    margin-bottom: 100px;
}
.purble-card {
    background-image: linear-gradient(to right bottom, #af94fd, #a084fb, #8f73f8, #7d63f6, #6953f3);
    box-shadow: 0px 4px 9px 0px rgba(175,148,253,0.82);
}
.pink-card {
    background-image: linear-gradient(to right bottom, #ff95a5, #ff89a3, #ff7da2, #ff71a2, #ff64a3);
    box-shadow: 0px 4px 9px 0px rgba(255,149,165,0.82);
}
.orange-card {
    background-image: linear-gradient(to right bottom, #fbc9a4, #fdba8c, #feaa75, #ff9a5f, #ff884a);
    box-shadow: 0px 4px 9px 0px rgba(251,201,164,0.82);
}